{% extends 'herencia.html' %}
{% block dinamico %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis datos</title>
</head>





</head>
<body>


     <section id="inicio">
        <h2>Bienvenido a Mi Sitio Web</h2>
        <p>Diseño para equipo de desarrollo</p>
    </section>

    <section id="acerca">
        <h2>Acerca de Nosotros</h2>
        <p>Nos encargamos del desarrollo de software para mejorar y simplificar la experiencia del usuario</p>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Puedes ponerte en contacto con nosotros a través de la siguiente información de contacto:</p>
        <address>
            Diseñador:  Pablo Matias Brondo<br>
            Correo Electrónico: <a href="">pablo.brondo@claro.com.ar</a><br>
            Teléfono: +543513143555
        </address>
    </section>

    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>


{% endblock %}