{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}


<h1>Editar Tareas!!!</h1>

{% for proyecto in proyectos %}
  <h1>{{ proyecto.nombre }}</h1>
  {% for i in pendientes %}
  {% if proyecto.id == i.asociado_id %}
  <table>
    <h3>{{i.titulo}} </h3>
    <table>
      <a href="{% url 'editartarea' i.id %}">Editar</a><br>
     <a href="{% url 'eliminartarea' i.id %}">Eliminar</a></table>
  </table> 
  {% endif %}
  {% endfor %}
{% endfor %}


<style>
  body {
    background-image: url("{% static 'logo9.jpg' %}");
    /* Ajusta otras propiedades según tus necesidades */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
<br>
<br>
<br>

{% endblock %}