{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}





<h1>Editar Tareas!!!</h1>


<h2>{{proyecto}}</h2>

<table>
  {% for tarea in tareas_asociadas %}
    <tr>
      <li>
        {{ tarea.titulo }} , {{ tarea.descripcion }}
        <a href="{% url 'editartarea' tarea.id %}">Editar</a><br>
        <a href="{% url 'eliminartarea' tarea.id %}">Eliminar</a></table>
      </li>
      <!-- Agrega más campos según sea necesario -->
    </tr>
  {% endfor %}
</table>

<style>
  body {
    background-image: url("{% static 'logo9.jpg' %}");
    /* Ajusta otras propiedades según tus necesidades */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
<br>
<br>
<br>

{% endblock %}