
{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}



<h1>{{proyecto}}</h1>



{% for i in listado %}
<table>
    <li>{{i}}</li>
</table>


{% endfor %}
<p>Puedes agregar nuevas tareas:</p>
<a href="{% url 'tareanueva' proyecto.id %}"> Agregar Tarea</a> <br>
<p>Edita las tareas:</p>
<a href="{% url 'cambiotareas' proyecto.id %}">Cambiar Tareas</a>

<p>Desde esta acceso podras elimar o cambiar las tareas ya asignadas a este proyecto</p>
<br>

<style>
    body {
      background-image: url("{% static 'logo9.jpg' %}");
      /* Ajusta otras propiedades según tus necesidades */
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
</style>
<br>
<br>
<br>
{% endblock %}