
{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}








<h1>Editar Proyectos</h1>

<p>Desde aca se podran generar cambios a los proyectos actuales!</p>

{% for i in proyecto %}

<table>
    {{i.id}} {{i.nombre}}<br>
    <table>
        <a href="{% url 'editarproyecto2' i.id %}"> Editar</a> <br>
        <a href="{% url 'eliminarproyecto' i.id %}"> Eliminar</a>
    </table>
    
</table>

{% endfor %}

</form>

<style>
    body {
      background-image: url("{% static 'logo9.jpg' %}");
      /* Ajusta otras propiedades según tus necesidades */
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
</style>
<br>
<br>
<br>

{% endblock %}


