{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}


<h1>Editar Tarea</h1>

<p>A conitnuacion podras generar una edicion de las tareas pendientes:</p>

<form action="{% url 'editartarea' id=tarea.id %}" method="post">
    {% csrf_token %}
    {{ formulario.as_table }}
    <input type="submit" value="Guardar cambios">
</form>


<style>
    body {
      background-image: url("{% static 'logo9.jpg' %}");
      /* Ajusta otras propiedades según tus necesidades */
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
  <br>
  <br>
  <br>

{% endblock %}