
{% extends 'herencia.html' %}
{% block dinamico %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi equipo de tareas</title>
</head>
<body>
    <h1>
        Gestion de proyectos para mi equipo-mi blog
    </h1>
    <p>listados de proyectos pendientes</p>

    <h2>
        Objetivo:
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dicta, facere illo eius exercitationem tempore repellendus dolore commodi. Ipsam ratione nobis, id reprehenderit quam doloribus nostrum laborum a assumenda cupiditate expedita? Beatae ex reiciendis vero blanditiis accusantium eos magnam cupiditate sapiente laborum odit. Voluptatum aliquid vero repellat totam dignissimos cum commodi qui autem a illum culpa modi delectus tenetur, itaque ducimus tempore molestiae iste nam praesentium odit. Cumque non animi et unde. Corporis, provident, animi officiis enim sint iure a excepturi esse consectetur voluptatibus incidunt illum quo totam reiciendis molestiae magnam, laboriosam iusto eius illo asperiores temporibus saepe numquam! Atque?
    </p>

    <table>
        <h1> Listado de temas: </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae mollitia repellendus labore expedita. Voluptas, labore! Ratione, hic? Eligendi qui optio soluta sequi libero impedit corrupti amet perspiciatis rem ratione, assumenda laudantium sint! Quasi quae, modi delectus asperiores officiis voluptatum molestiae quidem doloremque, debitis nisi error repudiandae nam saepe eveniet quaerat.
        </p>
        <h2> Tareas pendiente para el equipo: </h2>
        <p> Estas tareas para asignar de manera individual</p>
       

    </table>

</body>
</html>

{% endblock %}