
{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mi equipo de tareas</title>
</head>
</head>

<!-- prueba -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Botón de Login</title>
<body>
    <header>
        <table>
            <a href= "{% url 'login' %}" id="login-btn">Iniciar sesión</a><br>
            <a href= "{% url 'cerrarseccion' %}">Cerrar sesión</a>
        </table>
        
    </header>

    <!-- Resto del contenido de la página -->

</body>

   <!-- prueba -->
 

<body>
    <h1>
        Bienvenido
    </h1>
    {% for i in mensaje %}
    <h1>{{i}}</h1>
    {% endfor %}
    <p>Web para equipo de desarrollo junior</p>

    <h2>
        Objetivo:
    </h2>
    <p>
        ¿Qué objetivo tiene el trabajo en equipo?
         El trabajo en equipo facilita el cumplimiento de objetivos, incrementa la motivación y la creatividad, y favorece las habilidades sociales de cada uno. El trabajo en equipo es una capacidad altamente valorada en el mercado laboral, y es una de las características más demandadas por las empresas.
    </p>

    <img src="{% static 'descarga.png' %}" alt="">



    <h2>
        ¿Qué necesita un equipo para cumplir sus objetivos?
    </h2>

                 
        <p>Para que un equipo sea eficaz, es necesario que cumpla con las siguientes características: Tener objetivos de equipo: deben existir metas e intereses en común que sean cuantificables y claros, de modo que todos sus componentes conozcan y comprendan sus propósitos y sus metas.
        </p>
    

          <img src="{% static 'descarga2.jpg' %}" alt="">


        <h3> ¿Como vamos a trabajar? </h3>
        <p>
             Cada uno tendra acceso a ver los proyectos que tenemos pendientes o en proceso de desarrollo, cada uno podra asignarse del listado, para poder realizarlo debera estar registrado y completar sus datos en la ficha de ingreso. Una vez generado y asignado el proyecto, podra en caso de ser necesitario crear una nueva tarea en caso que no figure dentro de los pasos a seguir en cada proyecto. 
             Desde ya no hace falta aclarar que ante cualquier duda o consulta pueden verlo con el administrador.
        </p>

        <img src="{% static 'descarga3.png' %}" alt="">
   
       <h4>Ante cualquier dificultad o consulta, no dudes en ponerte en contacto!!</h4>

    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="/mi">Acerca de</a></li>
                    <li class="list-inline-item"><a href="/mi">Contacto</a></li>
                    </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Diseñado por Pablo Matias Brondo.</p>
            </div>

    

</body>
</html>

{% endblock %}