
{% extends 'herencia.html' %}
{% block dinamico %}


<h1>Mi Perfil</h1>

{% for usuario_dict in usuarios %}
    {% if usuario_dict.username == usuario.username %}
        <p>Datos del usuario:</p>
        <ul>
            <li><strong>Nombre de usuario:</strong> {{ usuario_dict.username }}</li>
            <li><strong>Correo Electrónico:</strong> {{ usuario_dict.email }}</li>
            <li><strong>Usuario Activo:</strong> {{ usuario_dict.is_active }}</li>
            <li><strong>Apellido:</strong> {{ usuario_dict.last_name }}</li>
            <li><strong>Nombre:</strong> {{ usuario_dict.first_name }}</li>
            <li><strong>Fecha de Alta:</strong> {{ usuario_dict.date_joined }}</li>
        </ul>
        {% if usuario_dict.is_superuser == True %}
        <br>
        <button>
            <a href="/admin">Administrador</a>
        </button>
        <p>Usuario administrados/Aceso a configuracion </p>
        {% endif %}
    {% endif %}
{% endfor %}

{% if avatar and avatar.imagen %}
<img height="100px" src="{{ avatar.imagen.url }}">
{% endif %}
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Actualizar Avatar</button>
</form>
<br>

{% endblock %}