{% extends 'herencia.html' %}
{% block dinamico %}



<h1>Tareas/Proyectos</h1>

{% for proyecto in pendientes2 %}
  <h2>{{ proyecto.nombre }}</h2>
  <ul>
    {% for asociado in pendientes %}
      {% if asociado.asociado_id == proyecto.id %}
        {% for tarea in asociado.tareas %}
          <li>
            <button> {% if tarea.estado == False %}✍{% else %} ✅ {% endif %} </button> Título: {{ tarea.titulo }}, Descripción: {{ tarea.descripcion }}
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
