{% extends 'herencia.html' %}
{% block dinamico %}

<h1>Mis Proyectos!!</h1>
<p>Bienvenido, desde aqui podra generar cambios a proyectos y sus tareas asocidas.
    A countinuacion tendra un listados de los proyectos solicitados, dentro de cada uno las tareas a cumplir. 
    En caso de ser necesario, podra generar la edicion de ambos, ante cualquier consulta favor de contactar al administrador.
</p>





{% for i in milista2 %}

<table>
    <li>
        <a href="{% url 'proyecto_tarea' i.id %}" >{{i.nombre}}</a><br>
    </li>
</table>

{% endfor %}


<h2>
    <a href="{% url 'nuevoproyecto' %}"> Crear Proyecto</a>
</h2>

<h3>
    <a href="{% url 'editarproyecto' %}"> Editar Proyecto</a>
</h3>



{% endblock %}



