{% extends 'herencia.html' %}
{% load static %}
{% block dinamico %}

<h2>Bienvenido</h2>
<br>
<p>Aqui podras registrarte para hacer uso de la web!!</p>
<br>
<form method="POST">
    {% csrf_token %}
    {{formulario.as_p}}
    <button> 
        Guardar
    </button>
</form>
<style>
    body {
      background-image: url("{% static 'logo9.jpg' %}");
      /* Ajusta otras propiedades según tus necesidades */
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
</style>
<br>
<br>
<br>

{% endblock %}